<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include nav.html %}


		<h3>{{page.name}}</h3>

		<div class = "container">

			<div class = "key">name</div><div class = "value">{{page.name}}</div>
			<div class = "key">description</div><div class = "value">{{page.description}}</div>
			<div class = "key">examples</div><div class = "value">{{page.examples}}</div>
			<div class = "key">motivation</div><div class = "value">{{page.motivation}}</div>
			<div class = "key">principles</div><div class = "value">{{page.principles}}</div>
			<div class = "key">aliases</div><div class = "value">{{page.aliases}}</div>
			<div class = "key">classes</div><div class = "value">{{page.classes}}</div>
			<div class = "key">genres</div><div class = "value">{{page.genres}}</div>
			<div class = "key">discussion</div><div class = "value">{{page.discussion}}</div>
			<div class = "key">uri</div><div class = "value">{{page.uri}}</div>
			<div class = "key">image</div><div class = "value">{{page.image}}</div>
			<div class = "key">video</div><div class = "value">{{page.video}}</div>
			<div class = "key">authors</div><div class = "value">{{page.authors}}</div>
			<div class = "key">date</div><div class = "value">{{page.date}}</div>
			<div class = "key">source</div><div class = "value">{{page.source}}</div>


			<!-- <article>
				<p>{{ content }}</p>
			</article> -->

			{% include footer.html %}
		</div>
	</body>

</html>
